# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf

# Settings for Python files
# ---------------------------------------------------------
# PEP8 Style

[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = false

# Settings for .md files
# ---------------------------------------------------------
# GitHub Markdown Style

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Settings for Makefile
# ---------------------------------------------------------

[Makefile]
indent_style = tab
indent_size = 4

# Settings for .github folder
# ---------------------------------------------------------

[.github/**]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Settings for .devcontainer folder
# ---------------------------------------------------------

[.devcontainer/**]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
