[MASTER]
disable=invalid-name
[MESSAGES CONTROL]
max-line-length=200
max-attributes=50
max-locals=30
max-branches=30
max-statements=100
max-nested-blocks=10
disable=multiple-statements,
    broad-except
[REPORTS]
output-format=parseable
[VARIABLES]
[TYPECHECK]
[MISCELLANEOUS]
[SIMILARITIES]
[FORMAT]
indent-string='    '
[SPELLING]
[BASIC]
constant-rgx=[a-zA-Z][A-Z0-9a-z_]*$
variable-rgx=[a-zA-Z][A-Z0-9a-z_]*$
[ELIF]
[LOGGING]
[DESIGN]
[IMPORTS]
[CLASSES]
[EXCEPTIONS]
