* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(255,255,255);
}
.style1 {
    font-size: x-small;
}
.style2 {
    background-color: #DDFFDD;
}
pre {
    margin-left: 3em;
    padding: 5px;
    font-family: monospace;
    color: #036;
    background-color: #FCC;
    overflow: auto;
}

table.converter {
    border: solid black 1px;
}
th.converter, td.converter {
    background-color: #6699cc;	/* light blue */
    wrap: nowrap;
    color: #333333;
}
.small {
    text-alignment: left;
    font-size: xx-small;
}
.right {
    float: right;
    text-alignment: right;
}
