#output {
    border: solid green 2px;
    overflow: auto;
    height: 300px;
    width: 800px;
    white-space: pre;
}

.required {
    border: solid blue 2px;
    font-size: 125%;
    font-weight: bold;
}

.optional {
    border: dotted blue 1px;
    font-size: 125%;
    font-weight: normal;
}

#infoholder {
    position: relative;
}

#info {
    background: white;
    border: solid green 4px;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

#infoX {
    float: right;
}

#innerinfo {
    margin: 5px;
}
